.image-procurement {
    height: 24vh;
    background-image: url('../../../../assets/images/procurement_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

