.image-eventfeedback {
    height: 47.5vh;
    background-color: lightgray;
    background-image: url('../../../../assets/images/eventFeedback.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
