<div class="modal-header">
    <button type="button" class="close" (click)="onCancelClick()" style="min-width: 0; padding: 0" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" style="vertical-align: middle !important;">
        {{model.commandText}}
    </h4>
</div>
<div class="no-overflow-x color-general-body">
    <div style="background-color: #FFFFFF; border-bottom-color: #F4F4F4; border-bottom: 1px solid #e5e5e5;">
        <div class="panel-body">
            <input #valueInput type="number" min="0" autofocus style="width: 100%" [(ngModel)]="model.value" class="bootbox-input bootbox-input-text form-control" />
        </div>
    </div>
</div>
<div style="height: 48px;">
    <button class="primary-button" style="float: right" (click)="onDoneClick()" [disabled]="!model.value || model.value < 0">OK</button>
    <button class="secondary-button" style="float: right" (click)="onCancelClick()">Cancel</button>
</div>
