<div class="overviewContainer">
    <div class="overviewHeader">Status</div>
    <div style="">
        <table style="width:100%;">
            <tbody style="font-weight:600;">
                <tr style="">
                    <td style="padding:10px;background-color:#F8F4D6;max-width:162px;border-bottom-left-radius:10px;">
                        <app-status-block HeaderText="Requestor" Person="Daniel Radcliffe" Status="Submitted For Approval"></app-status-block>
                    </td>
                    <td style="text-align:center;width:15px;vertical-align:middle;background-color:#F8F4D6;">
                        <img src="../../../../assets/images/arrow-alt-circle-right.svg" style="height:15px;" alt="right arrow" />
                    </td>
                    <td style="padding:10px;background-color:#F8F4D6;max-width:162px;">
                        <app-status-block HeaderText="Officer" Person="Rupert Grint" Status="Pending Approval"></app-status-block>
                    </td>
                    <td style="text-align:center;width:15px;vertical-align:middle;background-color:#F8F4D6;">
                        <img src="../../../../assets/images/arrow-alt-circle-right.svg" style="height:15px;" alt="right arrow" />
                    </td>
                    <td style="padding:10px;background-color:#F8F4D6;max-width:162px;">
                        <app-status-block HeaderText="Deputy Director" Person="Emma Watson" Status="Pending Approval"></app-status-block>
                    </td>
                    <td style="width:10px;background-color:#F8F4D6;"></td>
                    <td style="width:10px;background-color:#EBEBEB;"></td>
                    <td style="padding:10px;background-color:#EBEBEB;max-width:162px;border-bottom-right-radius:10px;">
                        <app-status-block HeaderText="Travel Coordinator" Person="Bonnie Wright" Status="Approved"></app-status-block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>