.image-arrangements {
    height: 47.5vh;
    background-image: url('../../../../assets/images/travel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
