.leahyHeader {
    background-color: #3C628F;
    font-weight: 600;
    font-size: 0.9em;
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.courtesyHeader {
    background-color: #667450;
    font-weight: 600;
    font-size: 10pt;
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.participantTypeCell {
    background-color: #699228;
    color: #FFFFFF;
    font-size: 10pt;
}

.listRow{
}
.listRow:hover {
    background-color: #FFF3CF;
    cursor: auto;
}

.listCell{
    font-size:0.9em;
    text-align:center;
}
.BatchType {
    color: #661C97;
    font-weight:bolder;
}

.editVetting {
    background-color: RGBA(59,134,255,.17);
    text-align: center;
}

.editVetting a:hover{
    cursor:pointer;
}