<div class="overviewContainer">
    <div class="overviewAlertHeader">Vetting Alerts</div>
    <div class="overviewContainerContent">
        <div style="padding-top:10px;">
            <mat-progress-bar md-mode="determinate" [value]="StatusBarCounter">{{ StatusBarCounter }}%</mat-progress-bar>
        </div>
        <div style="width:100%;text-align:center">{{ StatusBarCounter }}%</div>
        <div class="bottomborderDiv" style="width:100%;text-align:center">Pending Clearnaces: <span class="value">20</span></div>
        <div class="row bottomBorder" style="margin-left:0px;margin-right:0px;text-align:center;">
            <div class="col-md-6 rightBorder">Tracking Number</div>
            <div class="col-md-6">Assigned To</div>
        </div>
        <div class="row">
            <div class="col-md-6 rightBorder">
                <span class="value"><a href="">[MX2018-12342134adfg-134g2g]</a></span>
            </div>
            <div class="col-md-6" style="text-align:center;margin-left:-10px;">
                <span class="value">Joe Smith</span>
            </div>
        </div>
    </div>
</div>