<script type="text/javascript" src="../../../assets/unitlibrary.agenciesoc.js"></script>
<script>
    talk();
</script>
<div class="clearfix"></div>
<section class="col-xs-12 content-header" id="unitheadersection">
    <div class="col-xs-12 col-sm-7 no-padding content-header">
        <h1>
            <span class="color-orange">Unit library / </span>Agencies
        </h1>
    </div>
    <div class="pull-right" style="width:415px">
        <div id="result" class="pull-left ul-result-label color-blue" *ngIf="showSearchResults">Results found: {{ resultsFound }}</div>

        <div name="btnSearch" class="text-center pull-left" *ngIf="showSearchResults && resultsFound > 0">
            <button type="button" class="btn bColorPrimary" (click)="FindNodeByObject('down')">
                <i class="fa fa-angle-left fa-lg"></i>
            </button>&nbsp;
            <button type="button" class="btn bColorPrimary" (click)="FindNodeByObject('up')">
                <i class="fa fa-angle-right fa-lg"></i>
            </button>
        </div>

        <div class="pull-right" style="padding-left:10px;">
            <button *ngIf="AuthSvc.HasPermission('CREATE UNIT')" class="btn btn-rounded bColorPrimary" (click)="AddAgency()">Add agency</button>
        </div>

        <div class="pull-right" style="margin-top:4px;">
            <a routerLink="/gtts/unitlibrary/agencies" style="padding-right:10px" class="tooltip-2">
                <i class="fa fa-list color-blue fa-2x"></i>
                <span class="tooltiptext" style="width:265px;font-size: 15px;right: -15px; bottom: -35px;">Click here to go to list view of agencies</span>
            </a>
            <a class="tooltip-2" style="cursor:pointer;" (click)="GenerateUnitLibraryPDF()">
                <i class="far fa-file-export color-blue fa-2x"></i>
                <span class="tooltiptext" style="width:230px;font-size: 15px;right: 18px;bottom: -35px;">Click here to export agencies list</span>
            </a>
            <a #PDFDownloadLink name="PDFDownloadLink" href=""></a>
        </div>
    </div>
</section>
<section class="content">
    <div class="clearfix" style="padding-bottom: 10px;"></div>
    <div id="sample">
        <div id="diagramDiv" style="background-color:rgb(249, 249, 249); border: 1px solid black; height: 750px; position: relative; cursor: auto; outline: none;"
             #diagramDiv class="diagramDiv"
             data-get-url="@Url.Action('GetAgenciesChart')"
             data-get-val="">
            <canvas tabindex="0" style="position: absolute; top: 0px; left: 0px; z-index: 2; -moz-user-select: none; width: 1745px; height: 750px; cursor: auto;" width="1745" height="750">
                This text is displayed if your browser does not support the Canvas HTML element.
            </canvas>
            <div style="position: absolute; overflow: auto; width: 1745px; height: 750px; z-index: 1;">
                <div style="position: absolute; width: 1px; height: 1px;">
                </div>
            </div>
        </div>
        <div id="overviewDiv" #overviewDiv style="position: absolute; width: 200px; height: 100px; top: 165px; left: 100px; background-color: aliceblue; z-index: 300; /* make sure its in front */ border: solid 1px blue;">
        </div>
        <div>
            <textarea style="width: 100%; height: 250px; display: none;" id="mySavedModel" #diagramDiv class="diagramDiv"></textarea>
        </div>
    </div>
</section>
<ng-template #addEditUnitView>
    <app-unit-form (CloseModal)="CloseModal()" [Unit]="selectedUnit" [IsModal]=true (SaveClick)="SaveClick($event)"></app-unit-form>
</ng-template>
